@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ifm-color-primary: #0c6fc0;
  --ifm-color-primary-dark: #0b64ad;
  --ifm-color-primary-darker: #0a5ea3;
  --ifm-color-primary-darkest: #084e86;
  --ifm-color-primary-light: #0d7ad3;
  --ifm-color-primary-lighter: #0e80dd;
  --ifm-color-primary-lightest: #198ff1;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

[data-theme="dark"] {
  --ifm-color-primary: #3fa2f3;
  --ifm-color-primary-dark: #2294f1;
  --ifm-color-primary-darker: #148df0;
  --ifm-color-primary-darkest: #0d75ca;
  --ifm-color-primary-light: #5cb0f5;
  --ifm-color-primary-lighter: #6ab7f6;
  --ifm-color-primary-lightest: #95ccf8;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

*:focus-visible {
  outline: 2px solid var(--ifm-color-primary-darkest);
  outline-offset: 2px;
}

.navbar,
.footer {
  background-color: #f9fafb;
}

[data-theme="dark"] .navbar,
[data-theme="dark"] .footer {
  background-color: #1f2937;
}

[data-theme="dark"] .main-wrapper {
  background-color: #111827;
}
